## 데이터셋 불러오기

In [178]:
import os
import pandas as pd

In [390]:
live_path = "C:/Users/User/Desktop/음원사재기/bugs/실시간/"
daily_path = "C:/Users/User/Desktop/음원사재기/bugs/일간/"
weekly_path = "C:/Users/User/Desktop/음원사재기/bugs/주간/"
monthly_path = "C:/Users/User/Desktop/음원사재기/bugs/월간/"
os.chdir(daily_path)
os.getcwd()

'C:\\Users\\User\\Desktop\\음원사재기\\bugs\\일간'

In [354]:
len(os.listdir(daily_path))

91

In [368]:
os.listdir(daily_path)

['day_bugs_20220101.xlsx',
 'day_bugs_20220102.xlsx',
 'day_bugs_20220103.xlsx',
 'day_bugs_20220104.xlsx',
 'day_bugs_20220105.xlsx',
 'day_bugs_20220106.xlsx',
 'day_bugs_20220107.xlsx',
 'day_bugs_20220108.xlsx',
 'day_bugs_20220109.xlsx',
 'day_bugs_20220110.xlsx',
 'day_bugs_20220111.xlsx',
 'day_bugs_20220112.xlsx',
 'day_bugs_20220113.xlsx',
 'day_bugs_20220114.xlsx',
 'day_bugs_20220115.xlsx',
 'day_bugs_20220116.xlsx',
 'day_bugs_20220117.xlsx',
 'day_bugs_20220118.xlsx',
 'day_bugs_20220119.xlsx',
 'day_bugs_20220120.xlsx',
 'day_bugs_20220121.xlsx',
 'day_bugs_20220122.xlsx',
 'day_bugs_20220123.xlsx',
 'day_bugs_20220124.xlsx',
 'day_bugs_20220125.xlsx',
 'day_bugs_20220126.xlsx',
 'day_bugs_20220127.xlsx',
 'day_bugs_20220128.xlsx',
 'day_bugs_20220129.xlsx',
 'day_bugs_20220130.xlsx',
 'day_bugs_20220131.xlsx',
 'day_bugs_20220201.xlsx',
 'day_bugs_20220202.xlsx',
 'day_bugs_20220203.xlsx',
 'day_bugs_20220204.xlsx',
 'day_bugs_20220205.xlsx',
 'day_bugs_20220206.xlsx',
 'day_bugs_20220207.xlsx',
 'day_bugs_20220208.xlsx',
 'day_bugs_20220209.xlsx',
 'day_bugs_20220210.xlsx',
 'day_bugs_20220211.xlsx',
 'day_bugs_20220212.xlsx',
 'day_bugs_20220213.xlsx',
 'day_bugs_20220214.xlsx',
 'day_bugs_20220215.xlsx',
 'day_bugs_20220216.xlsx',
 'day_bugs_20220217.xlsx',
 'day_bugs_20220218.xlsx',
 'day_bugs_20220219.xlsx',
 'day_bugs_20220220.xlsx',
 'day_bugs_20220221.xlsx',
 'day_bugs_20220222.xlsx',
 'day_bugs_20220223.xlsx',
 'day_bugs_20220224.xlsx',
 'day_bugs_20220225.xlsx',
 'day_bugs_20220226.xlsx',
 'day_bugs_20220227.xlsx',
 'day_bugs_20220228.xlsx',
 'day_bugs_20220301.xlsx',
 'day_bugs_20220302.xlsx',
 'day_bugs_20220303.xlsx',
 'day_bugs_20220304.xlsx',
 'day_bugs_20220305.xlsx',
 'day_bugs_20220306.xlsx',
 'day_bugs_20220307.xlsx',
 'day_bugs_20220308.xlsx',
 'day_bugs_20220309.xlsx',
 'day_bugs_20220310.xlsx',
 'day_bugs_20220311.xlsx',
 'day_bugs_20220312.xlsx',
 'day_bugs_20220313.xlsx',
 'day_bugs_20220314.xlsx',
 'day_bugs_20220315.xlsx',
 'day_bugs_20220316.xlsx',
 'day_bugs_20220317.xlsx',
 'day_bugs_20220318.xlsx',
 'day_bugs_20220319.xlsx',
 'day_bugs_20220320.xlsx',
 'day_bugs_20220321.xlsx',
 'day_bugs_20220322.xlsx',
 'day_bugs_20220323.xlsx',
 'day_bugs_20220324.xlsx',
 'day_bugs_20220325.xlsx',
 'day_bugs_20220326.xlsx',
 'day_bugs_20220327.xlsx',
 'day_bugs_20220328.xlsx',
 'day_bugs_20220329.xlsx',
 'day_bugs_20220330.xlsx',
 'day_bugs_20220331.xlsx']

## 일간

In [370]:
df_list = []
for fname in os.listdir(daily_path):
    temp_df = pd.read_excel(os.path.join(daily_path, fname))
    df_list.append(temp_df)

df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(9000, 5)

In [371]:
df.shape

(9000, 5)

In [372]:
try:
    for a in range(0, df.shape[0]):
        if '\n' in df['곡'][a]:
            print(a, df['곡'][a])

        if '\n' in df['아티스트'][a]:
            # 개행문자(\n) 제거
            idx_unm = df['아티스트'][a].find('\n')
            df['아티스트'][a] = df['아티스트'][a][:idx_unm]
            print(a, df['아티스트'][a])

        if '\n' in df['앨범'][a]:
            print(a, df['앨범'][a])
            
except:
    pass

28 The Kid LAROI
31 경서예지
34 존 박
37 Coldplay(콜드플레이)
43 MINO(송민호)
51 디핵(D-Hack)

C:\Users\User\AppData\Local\Temp/ipykernel_11352/1779678755.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['아티스트'][a] = df['아티스트'][a][:idx_unm]

In [373]:
df.shape

(9000, 5)

In [378]:
df[['아티스트']][28:32]

             아티스트
28  The Kid LAROI
29            김나영
30            MC몽
31           경서예지

## 주간

In [425]:
df_list = []
for fname in os.listdir(weekly_path):
    temp_df = pd.read_excel(os.path.join(weekly_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(1300, 5)

In [386]:
try:
    for a in range(0, df.shape[0]):
        if '\n' in df['곡'][a]:
            print(a, df['곡'][a])

        if '\n' in df['아티스트'][a]:
            # 개행문자(\n) 제거
            idx_unm = df['아티스트'][a].find('\n')
            df['아티스트'][a] = df['아티스트'][a][:idx_unm]
            print(a, df['아티스트'][a])

        if '\n' in df['앨범'][a]:
            print(a, df['앨범'][a])
            
except:
    pass

## 실시간

In [440]:
df_list = []
for fname in os.listdir(live_path):
    temp_df = pd.read_excel(os.path.join(live_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(100, 5)

In [388]:
try:
    for a in range(0, df.shape[0]):
        if '\n' in df['곡'][a]:
            print(a, df['곡'][a])

        if '\n' in df['아티스트'][a]:
            # 개행문자(\n) 제거
            idx_unm = df['아티스트'][a].find('\n')
            df['아티스트'][a] = df['아티스트'][a][:idx_unm]
            print(a, df['아티스트'][a])

        if '\n' in df['앨범'][a]:
            print(a, df['앨범'][a])
            
except:
    pass

## 컬럼명 바꿔서 저장하기

In [441]:
df.shape

(100, 5)

In [442]:
fix_column = ['날짜', '순위', '곡', '가수', '앨범']
df.columns = fix_column
df.tail()

,날짜,순위,곡,가수,앨범
95,96,2022-04-07,Paris In The Rain,Lauv(라우브),I met you when I was 18. (the playlist)
96,97,2022-04-07,너의 세상,설호승 (SURL),스물다섯 스물하나 OST Part 9
97,98,2022-04-07,"묘해, 너와",어쿠스틱 콜라보(Acoustic Collabo),연애의 발견 (KBS 월화드라마) OST - Part 4
98,99,2022-04-07,나랑 같이 걸을래 (바른연애 길잡이 X 적재),적재,나랑 같이 걸을래 (바른연애 길잡이 X 적재)
99,100,2022-04-07,너,아이유(IU),조각집

In [444]:
name_list = os.listdir(live_path)
len(name_list)

1

In [447]:
temp_path = "C:/Users/User/Desktop/음원사재기/bugs/실시간/"
interval_list = list(range(0,200,100))

for i in range(0, 1):
    # df[0:100] ~~~
    fixed_df = df[interval_list[i]:interval_list[i+1]]
    fixed_df.to_excel(temp_path+name_list[i], index=False)

In [ ]:
df[interval_list[i]:interval_list[i+1]]