## 데이터셋 불러오기

In [79]:
import pandas as pd
import os

In [132]:
day_path = "C:/Users/User/Desktop/음원사재기/soribada/일간/"
week_path = "C:/Users/User/Desktop/음원사재기/soribada/주간/"
month_path = "C:/Users/User/Desktop/음원사재기/soribada/월간/"
live_path = "C:/Users/User/Desktop/음원사재기/soribada/실시간/"
os.chdir(day_path)
os.getcwd()

'C:\\Users\\User\\Desktop\\음원사재기\\soribada\\일간'

In [103]:
len(os.listdir(day_path))

86

## 일간

In [138]:
df_list = []
for fname in os.listdir(day_path):
    temp_df = pd.read_excel(os.path.join(day_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(8600, 5)

In [125]:
try:
    for a in range(0, df.shape[0]+1):
        if '\n' in df['노래제목'][a]:
            print(a, df['노래제목'][a])

        if '\n' in df['가수명'][a]:
            print(a, df['가수명'][a])

        if '\n' in df['앨범명'][a]:
            print(a, df['앨범명'][a])
            
except:
    pass

## 주간

In [154]:
df_list = []
for fname in os.listdir(week_path):
    temp_df = pd.read_excel(os.path.join(week_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(300, 5)

In [155]:
try:
    for a in range(0, df.shape[0]+1):
        if '\n' in base_df['노래제목'][a]:
            print(a, base_df['노래제목'][a])

        if '\n' in base_df['가수명'][a]:
            print(a, base_df['가수명'][a])

        if '\n' in base_df['앨범명'][a]:
            print(a, base_df['앨범명'][a])
            
except:
    pass

## 월간

In [163]:
df_list = []
for fname in os.listdir(month_path):
    temp_df = pd.read_excel(os.path.join(month_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(300, 5)

In [129]:
try:
    for a in range(0, df.shape[0]+1):
        if '\n' in base_df['노래제목'][a]:
            print(a, base_df['노래제목'][a])

        if '\n' in base_df['가수명'][a]:
            print(a, base_df['가수명'][a])

        if '\n' in base_df['앨범명'][a]:
            print(a, base_df['앨범명'][a])
            
except:
    pass

## 실시간

In [168]:
df_list = []
for fname in os.listdir(live_path):
    temp_df = pd.read_excel(os.path.join(live_path, fname))
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df.shape

(100, 5)

In [131]:
try:
    for a in range(0, df.shape[0]+1):
        if '\n' in base_df['노래제목'][a]:
            print(a, base_df['노래제목'][a])

        if '\n' in base_df['가수명'][a]:
            print(a, base_df['가수명'][a])

        if '\n' in base_df['앨범명'][a]:
            print(a, base_df['앨범명'][a])
            
except:
    pass

## 컬럼명 바꿔서 저장하기

In [169]:
os.chdir(live_path)
len(os.listdir(live_path))

1

In [170]:
df.shape[0]

100

In [171]:
fix_column = ['날짜', '순위', '곡', '가수', '앨범']
df.columns = fix_column
df.tail()

            날짜   순위          곡    가수                      앨범
95  2022-04-07   96         미련   코요태  실연 : Disappointed Love
96  2022-04-07   97  사랑에 취한 바보   김성민                    그 사람
97  2022-04-07   98  왜 자꾸 날 찾오    민지                      초혼
98  2022-04-07   99       대기만성   김동관                   부자되세요
99  2022-04-07  100     서글픈 사랑  김예리나             나비처럼 날아온 사랑

In [172]:
name_list = os.listdir(live_path)
interval_list = list(range(0, 200, 100))
temp_path = "C:/Users/User/Desktop/음원사재기/soribada/실시간/"

for i in range(0, 1):
    # df[0:100] ~~~
    fixed_df = df[interval_list[i]:interval_list[i+1]]
    fixed_df.to_excel(temp_path+name_list[i], index=False)